@model List<Lobby>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex flex-column">

@foreach (var item in Model)
{
        <a asp-action="Lobby" asp-route-id="@item.Id" class="mt-2">
 
            <button asp-action="Lobby" class="w-100 btn btn-lg btn-primary lobby_btn" asp-route-id="@item.Id">Lobby #@item.IdToShow</button>
        </a>
    }
</div>