.overview-song {
    display: flex;
    flex-flow: row;
    gap: 10%;
}

.overview {
    text-align: center
}

.responsive {
    height: auto;
    width: 100%;
    max-width: 150px;
    min-width: 75px;
}

.overview-song-owner {
    text-align: center;
}

.overview-features {
    display: flex;
    flex-flow: row;
    gap: 5%;
}

.tracks-query {
    border-style: solid;
    padding: 5px;
    height: 60vh;
    width: 30vw;
}

.tracks-collection {
    border-style: solid;
    padding: 5px;
    height: 60vh;
    width: 30vw;
}

img {
    height: auto;
    width: 100%;
}

.overview-track_current {
    min-width: 175px;
}

.overview-track_next {
    min-width: 175px;
}

.chatbox-input {
    display: flex;
    flex-flow: row;
    gap: 3%;
}

.overview-features-chatbox {
    border-style: solid;
    padding: 5px;
    height: 60vh;
    width: 30vw;
}

#tracklist li {
    cursor: pointer;
}

.selected {
    background-color: aqua;
}

#tracklist{
    text-align:left
}
#messagesList{
    text-align:left
}