.overview-song {
    display: flex;
    flex-flow: row;
    gap: 10%;
}

.overview {
    text-align: center
}

.responsive {
    height: auto;
    width: 100%;
    max-width: 150px;
    min-width: 75px;
}

.overview-song-owner {
    text-align: center;
}

.overview-features {
    display: flex;
    flex-flow: row;
    gap: 5%;
}

.tracks-query {
    border-style: solid;
    padding: 5px;
    height: 60vh;
    width: 50%;
}

.tracks-collection {
    border-style: solid;
    padding: 5px;
    height: 60vh;
    width: 50%;
}


.overview-track_current {
    min-width: 175px;
}

.overview-track_next {
    min-width: 175px;
}

.chatbox-input {
    display: flex;
    flex-flow: row;
}

.overview-features-chatbox {
    border-style: solid;
    padding: 5px;
    height: 60vh;
    width: 30vw;
}

#tracklist li {
    cursor: pointer;
}

.selected {
    background-color: aqua;
}

#tracklist {
    text-align: left;
    overflow-y: auto;
    height: 80%;
}

#messagesList {
    text-align: left;
    overflow-y: auto;
    height: 80%;
    word-wrap: break-word;  
}

#playlist {
    overflow-y: auto;
    height: 90%;
    text-align: left;
}
#usercards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}
