@model JukeBoxPartyWeb.Models.Song
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Song" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" id="title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist" class="control-label"></label>
                <input asp-for="Artist" id="artist" class="form-control" type="text" required  />
                <span asp-validation-for="Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <div class="col-md-10">
                    @*ViewBag.CityList is holding all the cities values*@
                    @Html.DropDownListFor(model => model.Genre,(IEnumerable<SelectListItem>)ViewBag.CategoryList,  new { @class = "form-control"} )
                    @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Track" class="control-label">Choose file:</label>
                <input asp-for="Track" type="file" id="userFile" accept=".mp3" name="Track"/>
                <span asp-validation-for="Track" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Duration:</label>
                <input asp-for="Duration" type="number" readonly id="duration" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="~/js/upload_song.js"></script>