@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/media/images/logo.jpg" class="logo" alt=”an artist's rendition of a black hole in space”>
</div>
