@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div id="overview">
        <div id="overview-songs">
            <div id="overview-songs-currenttrack">
                <h3>The current track: </h3>
                <p>trackname</p>
            </div><div id="overview-songs-owner">
            </div>

            <div id="overview-songs-nexttrack">
                <h3>The next track:</h3>
                <p>trackname</p>
                <button>
                    Queue
                </button>
                <button>
                    + add track
                </button>
            </div>
        </div>

    </div>
    <div id="component">
    </div>
</div>


